brotlipy==0.7.0
conda-build==3.21.4
conda-package-handling==1.7.2
glob2==0.7
importlib-metadata==4.11.1
ipywidgets==7.6.5
jupyterlab==3.1.7
matplotlib==3.2.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
olefile==0.46
opencv-python==4.5.1.48
pandas==1.1.5
pyOpenSSL==19.1.0
PySocks==1.7.1
ruamel-yaml==0.15.87
sagemaker-training==3.9.2
scikit-learn==0.24.2
tensorboard==2.4.1
torchelastic==0.2.1
torchvision~=0.11.0
